#header {
	padding: 7px;
	text-align: center;
	background-color:#025167;
}
.form-inline {
	margin: auto;
}
.facets {
	height: 100%;
	width: 200px;
	float: left;
	position: relative;
	background-color:#025167;
}

.facets div {
	margin:auto;
	margin-left: 15px;
	padding: 7px;
}
