<!DOCTYPE html>
<html>
<head>
	<!--tab name-->
	<title>getALife</title>
	<meta charset="utf-8">	
	<!-- Custom styles for the application -->
	<link rel=stylesheet type=text/css href="/static/css/style.css">	
	<link rel=stylesheet type=text/css href="/static/css/bootstrap-dialog.css">	
	<!--JQuery -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>	
	<!-- Google Maps Javascript API -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>	
	<!-- Application specific Javascript code -->	
	<script type="text/javascript" src="/static/js/bootstrap-dialog.js"></script>

<script>
	// Global map variable
	var map;
	// Global structure to store the markers to be displayed on the map
	var markers = [];
	// Window to display the venue information	
	var infowindow = new google.maps.InfoWindow({});

	// Initialize the location autocomplete form input text and the map elements
	function initialize() {		
		// Code for the autocomplete location input text field
		var input = (document.getElementById('locationTextField'));
		var autocomplete = new google.maps.places.Autocomplete(input);
		// Limit the autocompletion to city names
		autocomplete.setTypes(['(cities)'])
		google.maps.event.addListener(autocomplete, 'place_changed', function() {});
		
		// Initial options for the map
		var myOptions = {
			zoom: 13,
			// Center on Amsterdam
			center: new google.maps.LatLng(52.3731, 4.8922),
			mapTypeControl: true,
			mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
			navigationControl: true,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		
		// Assign the map to the 'map-canvas' element
		map = new google.maps.Map(document.getElementById('map-canvas'), myOptions);
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body>
	<div id="header" class="navbar navbar-inverse navbar-fixed-top" role="search">
		<center>
		  <div class="container fill">		  
			<div class="row">				
				<div class="navbar-header span2">
					<a class="navbar-brand" href="/">getaLife</a>		  
				</div>			
			</div>
		  </div>
		</center>		  
	</div>	 
	<div id="mycontent" class="container fill">
		<div id="map-canvas" ></div>	
	</div>
<div>
</div>
</body></html>