<!DOCTYPE html>
<html>
<head>
	<!--tab name-->
	<title>getALife</title>
	<meta charset="utf-8">	
	<!-- Map style -->
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	  html { height: 100% }
	  body { height: 100%; margin: 0; padding: 0 }
	  #map-canvas { height: 100% }
	</style>
	<!-- Custom styles for the application 
	<link rel=stylesheet type=text/css href="/static/css/style.css">-->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<link rel=stylesheet type=text/css href="/static/css/cstyle.css">
	<link rel=stylesheet type=text/css href="/static/css/bootstrap-dialog.css">	
	<link rel=stylesheet type=text/css href="/static/css/bootstrap-dropdown-checkbox.css">
	<link rel=stylesheet type=text/css href="/static/css/datepicker.css">
	<link rel=stylesheet type=text/css href="/static/css/ion.tabs.css">
	<link rel=stylesheet type=text/css href="/static/css/normalize.css">
	<link rel=stylesheet type=text/css href="/static/css/ion.tabs.skinBordered.css">
	<!--JQuery -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>	
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>	
	<!-- Google Maps Javascript API -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>	
	<!-- Application specific Javascript code -->	
	<script type="text/javascript" src="/static/js/bootstrap-dialog.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-dropdown-checkbox.js"></script>
	<script type="text/javascript" src="/static/js/map-handling.js"></script>
	<script type="text/javascript" src="/static/js/spin.js"></script>
	<script type="text/javascript" src="/static/js/spinner.js"></script>
	<script type="text/javascript" src="/static/js/ion-tabs/ion.tabs.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
</head>

<body>
	<div id="modal">  </div>
	<div class="container-fluid">	
		<div class="row" id="header">
			<div class="col-md-12"> 
				<form id="searchForm" class="navbar-form navbar-left" role="form">
					<a href="/"><img src="http://i.imgur.com/CSCYptm.png" width="100px"/></a>
					<div id="genreDropDown" class="dropMultiSelect"></div>
					<div id="typeDropDown" class="dropMultiSelect"></div>
					<input type="text" class="form-control" value="" placeholder="Start date" id="date-start" readonly>
					<input type="text" class="form-control" value="" placeholder="End date" id="date-end" readonly>
					<input type="text" id="locationTextField" class="form-control" placeholder="City (e.g Amsterdam)" autocomplete="off">
					<div id="geoCheck"><input type="checkbox" id="geolocate" value="geolocate"/>Use my current location</div>
					<button id="search-venue" type="submit" class="btn btn-info" >Discover events</button>
				</form>
			</div>
		</div>
	</div>
	<div id="map-canvas" ></div>

</body>
</html>
